<div class="jumbotron text-center">
  <div class="container">
    <h1>DentaCare</h1>
    <h3>Access the hottest properties available</h3>
    <p>Sri Lanka is one of the rapidly developing 2nd world country and the social structure
of the population is improving along with this trend. This creates a fashion consciousness
and beauty consciousness among the population and with the help of the advancement of
technological devices there is a new market of individuals who care about their health and
excited about new technologies. The project we have undertaken will cater this caliber of
population and also any other individuals who are interested in their oral health.
The project would have a business benefit of the creating and capturing a new market that
has been often overlooked or not taken care of. This will be a disruption of traditional oral
health measures and will bring in new income to the team and create a whole new business
sector</p>
    <a (click)="login()"><img src="assets/img/google.png"></a>
  </div>
</div>
